@font-face {
    font-family: Adorable Handmade;
    src: url(../police/Adorable\ Handmade.ttf);
}
@font-face {
    font-family: Bonfire Free;
    src: url(../police/Bonfire\ Free.ttf);
}
@font-face {
    font-family: BEYNO;
    src: url(../police/BEYNO.otf);
}
@font-face {
    font-family: Cathylise Janetson;
    src: url(../police/Cathylise\ Janetson.otf);
}
@font-face {
    font-family: Montserrat-VariableFont_wght;
    src: url(../police/Montserrat-VariableFont_wght.ttf);
}
@font-face {
    font-family: PantheraRegular-MVZ9J;
    src: url(../police/PantheraRegular-MVZ9J.ttf);
}
@font-face {
    font-family: Spring House;
    src: url(../police/Spring\ House.otf);
}
@font-face {
    font-family: TransformaScript-Medium;
    src: url(../police/TransformaScript-Medium.ttf);
}
@font-face {
    font-family: Trushdex;
    src: url(../police/Trushdex.ttf);
}

h1{
    font-family: TransformaScript-Medium;
}
h2{
    font-family: Cathylise Janetson;
}
p{
    font-family: Montserrat-VariableFont_wght;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --grey-color: #3844542f;
    --blue-color: #0a101b;    
    --black-color: #0C0F0A;    
    --yellow-color: #FCFE19;    
    --red-color: #a7001f5d;    
    --white-color: #FFFFFF;    
}

.container{
    width: 80%;
    margin: 0 auto;
}
main, footer{
    z-index: 4;
}
body{
    background-color: var(--blue-color);
    color: var(--white-color);
}
.up-bar {
    border-top: #bcbbbd17 4.5px solid;
    position: relative;
    top: 20vh;
    width: 88%;
    margin: 0 auto ;
    z-index: 1;
}
.left-bar {
    border-left: #bcbbbd17 3px solid;
    position: fixed;
    height: 800px;
    left: 6%;
    z-index: 1;
}
.right-bar {
    border-right: #bcbbbd17 3px solid;
    position: fixed;
    height: 800px;
    right: 6%;
    z-index: 1;
}

.background{
    background-image: url(../images/img1.jpeg);
    height: 120vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    background-attachment: fixed;
}



/*design de la navigation*/
nav{
    display:flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 1%;
    padding-bottom: 1%;
}

.dreamglow_logo{
    width: 100%;
    max-width: 50%;
    height: auto;
}    

.menu_logo{
    width: 100%;
    max-width: 3rem;
    height: auto;
}
.menu_logo:hover {
    filter: invert(4%) sepia(100%) saturate(2511%) hue-rotate(353deg) brightness(104%) contrast(107%);
}

nav li{
    list-style-type: none;
    float: left;
    width: 25%;
    text-align: center;
    position: relative;
}

nav a{
    text-decoration: none;
    color: var(--white-color);
}
nav ul::after{
    content: "";
    display: table;
    clear: both;
}

/*design de la barre de menu*/
.sous{
    display: none;
    box-shadow: rgba(0, 0, 0, 0.74) 2px 1px ;
    background-color: #38445477;
    border: black 1px solid;
    border-radius: 20px;
    position: absolute;
    z-index: 1000;
}

nav li:hover .sous{
    display: block;
}

.sous li{
    width: 100%;
    padding: 10px 0;
    text-align: center;
}
 
.sous a{
    padding: 5px;
    border-bottom: none;
}
.sous a:hover{
    background-color: #384454a4;
    color: var(--yellow-color);
}

/* design de la partie introduction*/
.titre{
    font-size: 10vw;
    text-align: center;
}

.texte{
    padding: 0 10vw;
    text-align: center;
    font-size: 1.5rem;
}
#intro{
    padding-top: 20vh;
}
.mask{
    display: flex;
    justify-content: center;
    justify-content: center;
    padding-top: 50px;
}
.logo1{
    width: 40vw;
    filter: invert(98%) sepia(0%) saturate(7484%) hue-rotate(28deg) brightness(105%) contrast(101%);
}

/*desig de la partie scroll*/
.scroll {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: fixed;
    width: 187%;
    top: 15%;
}
.scroll .social{
    margin-top: 15px;
    width: 120%;
}
.scroll:hover {
    filter: invert(4%) sepia(100%) saturate(2511%) hue-rotate(353deg) brightness(104%) contrast(107%);
}
.projecteur{
    width: 5rem;
    filter: invert(98%) sepia(0%) saturate(7484%) hue-rotate(28deg) brightness(105%) contrast(101%);
    margin-right: 10px;
}
/*design de la partie card*/
.img{
    width: 30%  
}

#equipe{
    padding-top: 50vh;
}
.card{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding-bottom: 20vh;
}

.texte-card{
    font-size: 3vw;
    margin: 5px;
}
.bouton, .bouton1{
    padding: 10px;
    font-size: 2vw;
    margin: 15px;
    background-color: transparent;
    color: var(--white-color);
    border: var(--white-color) 3px solid;
    border-radius: 20%;
}

.bouton:hover, .bouton1:hover{
    color: var(--yellow-color);
    background-color: rgba(0, 0, 0, 0.2);
}
.bouton_container{
    z-index: 2;
}

/*design de la partie pop-up*/
.bouton_pop{
    position: absolute;
    left: 38%;
}
.pop-up img, .pop-up1 img{
    width: 20rem;
    border-radius: 50%;
}
.pop-up1, .pop-up{
    width: 30rem;
    height: 0rem;
    padding: 10px;
    background-color: var(--black-color);
    border-radius: 50px;
    box-sizing: border-box;
    text-align: center;
    opacity: 0;
    top: -200%;
    transform: translate(-50%,-50%) scale(0.5);
    transition: opacity 300ms ease-in-out,
                top 1000ms ease-in-out,
                transform 1000ms ease-in-out;
}
.pop-up.active , .pop-up1.active{
    opacity: 1;
    height: 40rem;
    top: 50%;
    z-index: 4;
    transform: translate(0,-72%) scale(1);
    transition: transform 300ms cubic-bezier(0.18,0.89,0.43,1.19);
}
.titre_pop{
    margin: 10px 0;
    font-size: 1.2rem;
}

#bouton_reserve{
    margin: 10px;
    padding: 5px;
    border: none;
    border-radius: 20px;
    background-color: var(--white-color);
    color: var(--black-color);
}
#bouton_retour, #bouton_retour1{
    margin: 10px;
    padding: 10px;
    border: 1px solid var(--white-color);
    border-radius: 50%;
    background: none;
    color: var(--white-color);
    outline: none;
    transition: all 300ms ease-in-out;
}
#bouton_reserve:hover{
    background: none;
    color: var(--white-color);
    border: 1px solid var(--white-color);
}
#bouton_retour:hover{
    border: 2px solid var(--white-color);
    cursor: pointer;
}

.pop-up > div ,.pop-up1 > div {
    position:relative;
    top: 10px;
    opacity: 0;
}
.pop-up.active > div, .pop-up1.active > div {
    top: 0px;
    opacity: 1;
}
.pop-up.active .img_pop,.pop-up1.active .img_pop{
    transition: all 300ms ease-in-out 250ms;
}
.pop-up.active .titre_pop, .pop-up1.active .titre_pop{
    transition: all 300ms ease-in-out 350ms;
}
.pop-up.active .descri_pop, .pop-up1.active .descri_pop{
    transition: all 300ms ease-in-out 450ms;
}
.pop-up.active .reserver_pop, .pop-up1.active .reserver_pop{
    transition: all 300ms ease-in-out 550ms;
}
.pop-up.active .retour_pop, .pop-up1.active .retour_pop{
    transition: all 300ms ease-in-out 650ms;
}
/*design de la partie footer*/
footer{
    background-color: #030508fa;
    background-size: cover;
    padding: 50px 0;
}
#foot{
    z-index: 2;
    display: flex;
    flex-wrap: wrap;
}

.section{
    display: flex;
    flex-direction: column;
    align-items: center;
}
#foot .section{
    flex: 1;
    min-width: 300px;
    padding: 20px;
    box-sizing: border-box;
    
}
@media screen and (max-width:768px) {
    .section{
        flex-basis: 100%;
    }

}
#logo_foot{
    margin-left: 13vh;
}

#contact p{
    font-size: 1.7em;
}
#contact #name,#contact #mail, #mail2 {
    background-color: var(--grey-color);
    width: 90%;
    border: var(--white-colorr) 1px solid;
    border-radius: 10px;
    height: 5vh;
    margin: 10px;
}
input[type="submit"]{
    background-color: var(--red-color);
    width: 50%;
    margin: 10px;
    padding: 10px;
    color: var(--white-color);
    border-radius: 10px;
    margin-left: 25%;
}
textarea{
    background-color: var(--grey-color);
    width: 100%;
    border: var(--white-colorr) 1px solid;
    border-radius: 10px;
    margin: 10px;
    padding: 10px;
    color: var(--white-color);
}

h3{
    font-size: 1.5em;
}
