@font-face {
    font-family: Adorable Handmade;
    src: url(../police/Adorable\ Handmade.ttf);
}
@font-face {
    font-family: Bonfire Free;
    src: url(../police/Bonfire\ Free.ttf);
}
@font-face {
    font-family: BEYNO;
    src: url(../police/BEYNO.otf);
}
@font-face {
    font-family: Cathylise Janetson;
    src: url(../police/Cathylise\ Janetson.otf);
}
@font-face {
    font-family: Montserrat-VariableFont_wght;
    src: url(../police/Montserrat-VariableFont_wght.ttf);
}
@font-face {
    font-family: PantheraRegular-MVZ9J;
    src: url(../police/PantheraRegular-MVZ9J.ttf);
}
@font-face {
    font-family: Spring House;
    src: url(../police/Spring\ House.otf);
}
@font-face {
    font-family: TransformaScript-Medium;
    src: url(../police/TransformaScript-Medium.ttf);
}
@font-face {
    font-family: Trushdex;
    src: url(../police/Trushdex.ttf);
}

h1{
    font-family: TransformaScript-Medium;
}
h2{
    font-family: Trushdex;
}
p{
    font-family: Montserrat-VariableFont_wght;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --grey-color: #3844542f;
    --blue-color: #0a101b;    
    --black-color: #0C0F0A;    
    --yellow-color: #FCFE19;    
    --red-color: #a7001f5d;    
    --white-color: #FFFFFF;    
}

.container{
    width: 80%;
    margin: 0 auto;
}
body{
    background-image: url(../images/img11.jpg);
    background-attachment: fixed;
    color: var(--white-color);
    background-size: cover;
}
/*design de la navigation*/
nav{
    display:flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 1%;
    padding-bottom: 1%;
}
header{
    background-color: rgba(0, 0, 0, 0.37);
}
.dreamglow_logo{
    width: 100%;
    max-width: 50%;
    height: auto;
}    

.menu_logo{
    width: 100%;
    max-width: 3rem;
    height: auto;
}
.menu_logo:hover {
    filter: invert(4%) sepia(100%) saturate(2511%) hue-rotate(353deg) brightness(104%) contrast(107%);
}

nav li{
    list-style-type: none;
    float: left;
    width: 25%;
    text-align: center;
    position: relative;
}

nav a{
    text-decoration: none;
    color: var(--white-color);
}
nav ul::after{
    content: "";
    display: table;
    clear: both;
}

/*design de la barre de menu*/
.sous{
    display: none;
    box-shadow: rgba(0, 0, 0, 0.74) 2px 1px ;
    background-color: #38445477;
    border: black 1px solid;
    border-radius: 20px;
    position: absolute;
    z-index: 1000;
}

nav li:hover .sous{
    display: block;
}

.sous li{
    width: 100%;
    padding: 10px 0;
    text-align: center;
}
 
.sous a{
    padding: 5px;
    border-bottom: none;
}
.sous a:hover{
    background-color: #384454a4;
    color: var(--yellow-color);
}

/*design de la partie footer*/
footer{
    background-color: #03050871;
    background-size: cover;
    padding: 50px 0;
    color: var(--white-color);
}
#foot{
    z-index: 2;
    display: flex;
    flex-wrap: wrap;
}

.section1{
    display: flex;
    flex-direction: column;
    align-items: center;
}
#foot .section1{
    flex: 1;
    min-width: 300px;
    padding: 20px;
    box-sizing: border-box;
    
}
@media screen and (max-width:768px) {
    .section1{
        flex-basis: 100%;
    }

}
#logo_foot{
    margin-left: 13vh;
}

#contact p{
    font-size: 1.7em;
}
#contact #name,#contact #mail, #mail2 {
    background-color: var(--grey-color);
    width: 90%;
    border: var(--white-colorr) 1px solid;
    border-radius: 10px;
    height: 5vh;
    margin: 10px;
}
footer input[type="submit"]{
    background-color: var(--red-color);
    width: 50%;
    margin: 10px;
    padding: 10px;
    color: var(--white-color);
    border-radius: 10px;
    margin-left: 25%;
}
textarea{
    background-color: var(--grey-color);
    width: 100%;
    border: var(--white-colorr) 1px solid;
    border-radius: 10px;
    margin: 10px;
    padding: 10px;
    color: var(--white-color);
}

h3{
    font-size: 1.5em;
}
 /*design de la section à propos*/

 img{
    width: 25rem;
 }
 .section{
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: center;
    justify-content: center;
 }
 .content{
    text-align: center;  
 }
 @media screen and (max-width:780px){
    .section{
        display: flex;
        flex-direction: column;
        gap: 20px;
        align-items: center;
        justify-content: center;
    }
 }