@font-face {
    font-family: Adorable Handmade;
    src: url(../police/Adorable\ Handmade.ttf);
}
@font-face {
    font-family: Bonfire Free;
    src: url(../police/Bonfire\ Free.ttf);
}
@font-face {
    font-family: BEYNO;
    src: url(../police/BEYNO.otf);
}
@font-face {
    font-family: Cathylise Janetson;
    src: url(../police/Cathylise\ Janetson.otf);
}
@font-face {
    font-family: Montserrat-VariableFont_wght;
    src: url(../police/Montserrat-VariableFont_wght.ttf);
}
@font-face {
    font-family: PantheraRegular-MVZ9J;
    src: url(../police/PantheraRegular-MVZ9J.ttf);
}
@font-face {
    font-family: Spring House;
    src: url(../police/Spring\ House.otf);
}
@font-face {
    font-family: TransformaScript-Medium;
    src: url(../police/TransformaScript-Medium.ttf);
}
@font-face {
    font-family: Trushdex;
    src: url(../police/Trushdex.ttf);
}

h1{
    font-family: TransformaScript-Medium;
}
h2{
    font-family: Cathylise Janetson;
}
p{
    font-family: Montserrat-VariableFont_wght;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --grey-color: #3844542f;
    --blue-color: #0a101b;    
    --black-color: #0C0F0A;    
    --yellow-color: #FCFE19;    
    --red-color: #a7001f5d;    
    --white-color: #FFFFFF;    
}
body{
    background-image: url(../images/img5.jpeg);
    height: 120vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    background-attachment: fixed;
    color: var(--white-color);
}
.container{
    width: 80%;
    margin: 0 auto;
}

.up-bar {
    border-top: #bcbbbd17 4.5px solid;
    position: relative;
    top: 20vh;
    width: 88%;
    margin: 0 auto ;
    z-index: 1;
}
.left-bar {
    border-left: #bcbbbd17 3px solid;
    position: fixed;
    height: 800px;
    left: 6%;
    z-index: 1;
}
.right-bar {
    border-right: #bcbbbd17 3px solid;
    position: fixed;
    height: 800px;
    right: 6%;
    z-index: 1;
}

h1{
    font-size: 5rem;
    text-align:center;
}
.titre{
    text-align: center;
    padding-top: 50px;
}
/*design de la navigation*/
nav{
    display:flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 1%;
    padding-bottom: 1%;
}

.dreamglow_logo{
    width: 100%;
    max-width: 50%;
    height: auto;
}    

.menu_logo{
    width: 100%;
    max-width: 3rem;
    height: auto;
}
.menu_logo:hover {
    filter: invert(4%) sepia(100%) saturate(2511%) hue-rotate(353deg) brightness(104%) contrast(107%);
}

nav li{
    list-style-type: none;
    float: left;
    width: 25%;
    text-align: center;
    position: relative;
}

nav a{
    text-decoration: none;
    color: var(--white-color);
}
nav ul::after{
    content: "";
    display: table;
    clear: both;
}

/*design de la barre de menu*/
.sous{
    display: none;
    box-shadow: rgba(0, 0, 0, 0.74) 2px 1px ;
    background-color: #38445477;
    border: black 1px solid;
    border-radius: 20px;
    position: absolute;
    z-index: 1000;
}

nav li:hover .sous{
    display: block;
}

.sous li{
    width: 100%;
    padding: 10px 0;
    text-align: center;
}
 
.sous a{
    padding: 5px;
    border-bottom: none;
}
.sous a:hover{
    background-color: #384454a4;
    color: var(--yellow-color);
}
/*desig de la partie scroll*/
.scroll {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: fixed;
    width: 187%;
    top: 20%;
}
.scroll .social{
    margin-top: 15px;
    width: 120%;
}
.scroll:hover {
    filter: invert(4%) sepia(100%) saturate(2511%) hue-rotate(353deg) brightness(104%) contrast(107%);
}
.projecteur{
    width: 5rem;
    filter: invert(98%) sepia(0%) saturate(7484%) hue-rotate(28deg) brightness(105%) contrast(101%);
    margin-right: 10px;
}

/*design de la partie footer*/
footer{
    background-color: #030508fa;
    background-size: cover;
    padding: 50px 0;
}
#foot{
    z-index: 2;
    display: flex;
    flex-wrap: wrap;
}

.section{
    display: flex;
    flex-direction: column;
    align-items: center;
}
#foot .section{
    flex: 1;
    min-width: 300px;
    padding: 20px;
    box-sizing: border-box;
    
}
@media screen and (max-width:768px) {
    .section{
        flex-basis: 100%;
    }

}
#logo_foot{
    margin-left: 13vh;
}

#contact p{
    font-size: 1.7em;
}
#contact #name,#contact #mail, #mail2 {
    background-color: var(--grey-color);
    width: 90%;
    border: var(--white-colorr) 1px solid;
    border-radius: 10px;
    height: 5vh;
    margin: 10px;
}
input[type="submit"]{
    background-color: var(--red-color);
    width: 50%;
    margin: 10px;
    padding: 10px;
    color: var(--white-color);
    border-radius: 10px;
    margin-left: 25%;
}
textarea{
    background-color: var(--grey-color);
    width: 100%;
    border: var(--white-colorr) 1px solid;
    border-radius: 10px;
    margin: 10px;
    padding: 10px;
    color: var(--white-color);
}

h3{
    font-size: 1.5em;
}


/*design des sections*/
section{
    display: flex;
    width: 60%;
    margin: 150px  auto 0;
    background-color: rgba(0, 0, 0, 0.281);
    padding: 10px;
    border: var(--yellow-color) 2px solid;
    border-radius: 40px ;
}
.img{
    width: 10rem; 
}
section h2{
    font-size: 2.1rem;
}
section h3 {
    font-size: 1.3rem;
}
.info-container{
    display: flex;
    flex-direction: column;
}
.info{
    display: flex;
    align-items: center;
    padding-left: 50px;
    padding-bottom: 5px;
    padding-top: 10px;
}
.info p{
    padding-left: 10px;
}
.sous-section1{
    width: 60%;
    padding: 30px;
}
.sous-section1 p{
    text-align: justify;
}
.sous-section2{
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
@media screen and (max-width:1200px) {
    section{
        display: block;
        margin: 100px auto;
    }
    .sous-section1{
        width: 100%;
        padding: 10px;
    }
    .info{
        display: flex;
        align-items: center;
        padding-left: 0;
    }
}
.icon{
    width: 1.5rem;
    filter: invert(98%) sepia(0%) saturate(7484%) hue-rotate(28deg) brightness(105%) contrast(101%);
}

/*design du bouton de réservation*/
.bouton{
    display: flex;
    justify-content: center;
    padding: 100px 0;
}
a{
    text-decoration: none;
}
button{
    padding: 10px;
    background-color: transparent;
    border: var(--white-color) 3px solid;
    border-radius: 20px;
    color: var(--white-color);
    font-size: 1.5rem;
}
button:hover{
    color: var(--yellow-color);
    border: var(--yellow-color) 3px solid;
}